@model IEnumerable<DoAnWeb.Models.SanPham>
@{
    ViewBag.Title = "SẢN PHẨM THEO LOẠI";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@*<div class="row">
    @foreach (var BanhKeo in Model)
    {
        <div class="col-sm-4 col-lg-4-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("detail","Index", new {id=BanhKeo.Masp})">
                    <img alt="@BanhKeo.tensanpham" src="~/images/@BanhKeo.Anh" width="200" , height="200" />
                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @BanhKeo.tensanpham
                        </h4>
                        <p></p>
                    </div>
                    <div class="rating">
                        <p class="pull-right">
                            <script>
                                var a = Math.floor(Math.random() * 100);
                                document.write(a);
                            </script> reviews
                        </p>


                    </div>
                </a>

            </div>
        </div>
    }


</div>*@


